<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Blazor Word Upload</title>
    <base href="/" />
</head>

<body>
    <Routes />
    <script src="_framework/blazor.webassembly.js"></script>
</body>

</html>
